



.header_nav{
  display:flex;
}

.header_nav a{
  display: flex;
  padding: 20px;
  font-size: x-large;
  padding: 25px;
}

#site_container{
  position: fixed;
  width: 100%;
  z-index:100;
}

#site_container header{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;

}

#site_container header div nav{
  display: flex;
  justify-content: center;

}
#site_container header div img{
display: flex;
justify-content: flex-start;
width :15%;
}
#site_container header div{
  flex: 1;

}
